.new {
    color: burlywood;
}

section {
    display: flex;
    margin-left: 100px;
}

.half-width {
    width: 50%;

}

.half-width img {
    width: 50%;
}

.link-button {
    text-decoration: none;
    background-color: yellow;
    background-image: linear-gradient(red, yellow);
    padding: 5px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;


}

.top-image {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}